<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         stopOnFailure="true"
>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./test</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="DB_POSTGRES_HOST" value="postgres"/>
        <env name="DB_POSTGRES_PORT" value="5432"/>
        <env name="DB_POSTGRES_USER" value="root"/>
        <env name="DB_POSTGRES_PASSWORD" value="secret"/>
        <env name="DB_POSTGRES_DATABASE" value="php_db_locker"/>
    </php>
</phpunit>
